# Repaso de estructuras básicas de programación

## Sintaxis y control de flujo

In [2]:
a = 2
b = 3

In [3]:
a

2

In [4]:
b

3

### if - else

In [6]:
condicion = False

if(condicion == True) :
    print("Flujo 1")
else :
    print("Flujo 2")

Flujo 2

### bucle/ciclo

In [8]:
contador = 0

while(contador < 5) :
    print("Estoy en la iteración " + str(contador))
    contador += 1 # contador = contador + 1

Estoy en la iteración 0
Estoy en la iteración 1
Estoy en la iteración 2
Estoy en la iteración 3
Estoy en la iteración 4

In [12]:
for contador in range(5) :
    print("Estoy en la iteración " + str(contador))

Estoy en la iteración 0
Estoy en la iteración 1
Estoy en la iteración 2
Estoy en la iteración 3
Estoy en la iteración 4

In [13]:
for contador in range(10) :
    if (contador%2 == 0) :
        print("Estoy en la iteración " + str(contador))

Estoy en la iteración 0
Estoy en la iteración 2
Estoy en la iteración 4
Estoy en la iteración 6
Estoy en la iteración 8

## Operadores

### Matemáticos

In [14]:
a = 2
b = 3

a + b

5

In [15]:
a - b

-1

In [16]:
a*b

6

In [17]:
a**b

8

In [18]:
a/b

0.6666666666666666

In [19]:
a%b # residuo de 2/3

2

### Booleanos

In [20]:
a = 2
b = 3

a == b

False

In [21]:
a != b

True

In [22]:
a > b

False

In [23]:
a < b

True

In [24]:
a >= b

False

In [25]:
a <= b

True

## Hilos

In [27]:
hilo1 = "Un ejemplo de hilo."

print(hilo1)

Un ejemplo de hilo.

In [29]:
hilo2 = "Otro ejemplo de hilo."

print(hilo2)

Otro ejemplo de hilo.

In [31]:
hilo1 + " " + hilo2

'Un ejemplo de hilo. Otro ejemplo de hilo.'

In [32]:
import numpy as np
print(np.pi)

3.141592653589793

In [33]:
print("El valor de pi es: " + str(np.pi))

El valor de pi es: 3.141592653589793

## Listas

In [34]:
a = [1, 2, 3]
b = [4, 5, 6]

In [35]:
print(a)

[1, 2, 3]

In [36]:
print(b)

[4, 5, 6]

In [37]:
a + b

[1, 2, 3, 4, 5, 6]

In [38]:
a.append(6)
a.append(5)
a.append(4)

print(a)

[1, 2, 3, 6, 5, 4]

In [39]:
a[3]

6

In [40]:
a[5]

4

In [41]:
a[-1]

4

In [42]:
a[-2]

5

In [43]:
3 in b

False

In [44]:
3 in a

True

In [45]:
if (5 in a) :
    print("Sí. Hay un 5 en a")

Sí. Hay un 5 en a

In [46]:
lista_de_hilos = ["hilo1", "hilo2", "hilo3"]
print(lista_de_hilos)

['hilo1', 'hilo2', 'hilo3']

In [47]:
lista_mezclada = ["hilo", 4, np.pi]
print(lista_mezclada)

['hilo', 4, 3.141592653589793]

In [48]:
lista_de_listas = []
lista_de_listas.append(a)
lista_de_listas.append(b)
lista_de_listas.append(lista_de_hilos)
lista_de_listas.append(lista_mezclada)
print(lista_de_listas)

[[1, 2, 3, 6, 5, 4], [4, 5, 6], ['hilo1', 'hilo2', 'hilo3'], ['hilo', 4, 3.141592653589793]]

In [50]:
lista_de_listas[-1][0]

'hilo'

## Diccionarios

In [51]:
d = {0 : "Elemento con llave cero",
     1 : "Elemento con llave uno"}
print(d)

{0: 'Elemento con llave cero', 1: 'Elemento con llave uno'}

In [52]:
d[0]

'Elemento con llave cero'

In [53]:
d = {0 : "Elemento con llave cero",
     1 : "Elemento con llave uno",
    "hilo": np.pi}

In [55]:
d["hilo"]

3.141592653589793

## Funciones

In [56]:
def funcion1() :
    print("Estoy dentro de la función 1.")

funcion1()

Estoy dentro de la función 1.

In [57]:
def funcion_con_parametros(a, b, c) :
    print(a + b + c)
    
funcion_con_parametros(10, 15, 20)

45

In [58]:
funcion_con_parametros(10, 15)

TypeError: funcion_con_parametros() missing 1 required positional argument: 'c'

In [60]:
def funcion_con_parametros_predefinidos(a=1, b=10, c=100) :
    print(a + b + c)

funcion_con_parametros_predefinidos()

111

In [63]:
funcion_con_parametros_predefinidos(b=50)

151

In [62]:
b

[4, 5, 6]

## Lectura rápida de archivos

In [1]:
import pandas as pd
data = pd.read_excel("datosPE.xlsx")

In [65]:
data

    ID Persona  Peso  Estatura
0            1    67      1.41
1            2    99      1.83
2            3    86      1.90
3            4   118      1.65
4            5   109      1.67
..         ...   ...       ...
95          96    88      1.49
96          97    98      1.54
97          98    95      1.57
98          99    61      1.61
99         100   107      1.62

[100 rows x 3 columns]

In [66]:
data.columns

Index(['ID Persona', 'Peso', 'Estatura'], dtype='object')

In [67]:
data["Peso"]

0      67
1      99
2      86
3     118
4     109
     ...
95     88
96     98
97     95
98     61
99    107
Name: Peso, Length: 100, dtype: int64

In [68]:
data["Peso"].sum()

8558

In [69]:
data["Estatura"]

0     1.41
1     1.83
2     1.90
3     1.65
4     1.67
      ...
95    1.49
96    1.54
97    1.57
98    1.61
99    1.62
Name: Estatura, Length: 100, dtype: float64

In [70]:
data["Estatura"].mean()

1.6610999999999998

In [71]:
data["Peso en libras"] = data["Peso"]*2.205

In [72]:
data

    ID Persona  Peso  Estatura  Peso en libras
0            1    67      1.41         147.735
1            2    99      1.83         218.295
2            3    86      1.90         189.630
3            4   118      1.65         260.190
4            5   109      1.67         240.345
..         ...   ...       ...             ...
95          96    88      1.49         194.040
96          97    98      1.54         216.090
97          98    95      1.57         209.475
98          99    61      1.61         134.505
99         100   107      1.62         235.935

[100 rows x 4 columns]

In [73]:
data.to_excel("ejemplo_con_libras.xlsx")

In [2]:
for valor in data["Peso"] :
    print(valor)

67
99
86
118
109
81
74
69
51
104
84
63
79
66
91
119
56
61
66
72
66
94
55
94
102
82
103
102
75
88
114
74
76
73
63
101
101
89
81
110
101
118
102
59
74
91
58
60
85
107
111
65
110
114
70
62
99
80
54
108
56
68
108
116
117
67
65
118
86
95
70
80
62
80
92
117
72
111
53
69
52
77
115
58
106
117
77
115
71
76
87
98
104
112
56
88
98
95
61
107